.fundProfileDiv,
.fundsExploreDiv {
    width: 100%;
    text-align: left;
}

.fundProfileForm {
    margin-left: 70%;

}

.sideBySide {
    display: inline-flex;
    margin-right: 10%;

}

.heiExplorerDiv {
    font: italic bold 12px/30px Georgia, serif;
}

.card {
    /* Change background color */
    background-color: white;

    /* Add border */
    border: 1px solid #bacdd8;

    /* Add space between the border and the content */
    padding: 8px;

    border-radius: 12px;
}

.btn {
    float: right;
}


/* ------Agency Register page Styling-------*/


.steps {
    
    grid-template-columns: auto auto auto;
}
.registerDiv {
    margin-top: 10%;

}

/* .registerTable {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
} */

.registerInputField {
  font-size:xx-large;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-top: 10%;
  margin-bottom: 10%;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid black;
}
.registerSubmitButton{
    width: 185px;
    height: 90px;
    border: none;
    margin: 20px 10px 20px 10px;
    outline: none;
    background: rgb(0, 128, 77);
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    width:max-content;
 }
 .registerSubmitButton{
    width: 100%;
 }
 .termsDiv{
    
    align-items: left;
    text-align: left;
 }
 /* .registerDiv{
    display: inline-flex;
 } */
 .check{
    height:30px;
    width: 30px;
 }
 /* .registerForm{
    width: 100%;
    font-size: xx-large;
    display: inline;
 } */
 .radio{
    height:30px;
    width: 30px;
 }
 
 .mainDiv{
    display: inline-flex;
 }
 .registerTable{
    margin: none;
 }
.registerDiv{
    width: 100%;
    margin: 0%;
}