.oeProfileDiv {
    width: 100%;
    text-align: left;
}

.sideBySide {
    display: inline-flex;
}

.oeProfileForm {
    margin-left: 100%;
}

button {
    background-color: navy;
    color: #bacdd8;
}

.accept {
    margin-top: 200px;
    background-color: black;
    color: white;


}

.reject {
    margin-top: 100px;
    background-color: black;
    color: white;
}

.oeVerify {
    align-items: right;
}

.steps {
    
    grid-template-columns: auto auto auto;

}

/* ------OE Register page Styling-------*/

.registerDiv {
    margin-top: 10%;

}

.registerTable {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: left;
}

.registerInputField {
    font-size:xx-large;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-top: 10%;
  margin-bottom: 10%;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid black;
}
.registerSubmitButton{
    width: 185px;
    height: 90px;
    border: none;
    margin: 20px 10px 20px 10px;
    outline: none;
    background: rgb(0, 128, 77);
    color: #fff;
    font-size: 30px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    width:max-content;
 }

 .registerDiv{
    display: inline-flex;
    width: 100%;
    margin: 0%;
 }
 .registerSubmitButton{
    width: 100%;
 }
 .termsDiv{
    
    align-items: left;
    text-align: left;
 }
 .check{
    height:30px;
    width: 30px;
 }
 .radio{
    height:30px;
    width: 30px;
 }
 
 .mainDiv{
    display: inline-flex;
 }
 .registerTable{
    margin: none;
 }
 .registerDiv{
    width: 100%;
    margin: 0%;
}


.registerInputField {
    width: 100%;
}

