.oeProfileDiv {
    width: 100%;
    text-align: left;
}

.sideBySide {
    display: inline-flex;
}

.oeProfileForm {
    margin-left: 100%;
}

button {
    background-color: navy;
    color: #bacdd8;
}

.accept {
    margin-top: 200px;
    background-color: black;
    color: white;


}

.reject {
    margin-top: 100px;
    background-color: black;
    color: white;
}

.oeVerify {
    align-items: right;
}


/* ------OE Register page Styling-------*/

.registerDiv {
    margin-top: 10%;
}

.registerTable {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.registerInputField {
    width: 100%;
}