.heiProfileDiv,
.heiExploreDiv {
    width: 100%;
    text-align: left;
}

.heiProfileForm {
    margin-left: 50%;
    margin-right: 10%;
}
.heiApplying{
    margin-left: 10%;
}
.sideBySide {
    display: inline-flex;
    margin-right: 10%;
}

.heiDashBoardDiv {
    width: 100%;
    text-align: left;
}

.heiDashBoardForm {
    margin-left: 100%;
}

.heiDashboardDiv {
    font: italic bold 12px/30px Georgia, serif;
}

.search {
    float: left;
}

.steps {

    grid-template-columns: auto auto auto;
}

/* ------HEI Register page Styling-------*/

.registerDiv {
    margin-top: 10%;
}

.registerTable {
    margin-left: auto;
    margin-right: auto;
    width: 200%;
    text-align: left;
}
.registerMainDiv {
    width: 100%;
    display: flex;
    margin-top: 5rem;
    padding: 0%;
    width: 100%;

}

.mainDiv {
    padding: 0%;
    width: 100%;
    margin: 0%;
}

.formButton {
    border: none;

    margin: 20px 10px 20px 10px;
    outline: none;
    background: rgb(1, 251, 9);
    margin: 10px;
    background: rgb(0, 128, 77);
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    padding: 8px;
    width: 100px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
}

.check {
    height: 30px;
    width: 30px;
}

.radio {
    height: 30px;
    width: 30px;
}

.registerDiv2 {
    width: 100%;
}

.registerForm2 {
    width: 100%;
}

.registerTable2 {
    font-size: 22px;
    width: 100%;
}

.selectDiv {
    width: 93%;
    margin-top: 3rem;
}

.registerTable2 td,
.registerTable2 th {
    padding: 0px 25px;
    /* margin: 0px 15px; */
    text-align: start;
}

.termsDiv2 {
    text-align: left;
}

.termsBox2 {
    border: 0px solid black;
    background-color: #fff;
    text-align: start;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    width: 90%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    /* top: 50%; */
    transform: translateY(35%);
}

.registerInputField {
    font-size: 22px;
    font-weight: 450;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
}

.registerInputField:focus {
    outline: none;
}





.btn1 {
    height: 50px;
    border: none;
    margin: 20px 10px 20px 10px;
    outline: none;
    background:rgb(55, 118, 247);
    color: white;
    background: rgb(73, 134, 255);
    color: white;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    width: max-content;
}

.inputBox {
    width: 400%;
}

.heiProfileTable{
   margin-right: 40%;  
}
.heiSideBar{
    margin-left: 10%;
    margin-right: 70%;
}
.applyDiv{
    display: inline-flex;
}

.heiProfileTable {
    margin-left: 0%;
}
