.heiProfileDiv,
.heiExploreDiv {
    width: 100%;
    text-align: left;
}

.heiProfileForm {
    margin-left: 50%;
    margin-right: 10%;
}
.heiApplying{
    margin-left: 10%;
}
.sideBySide {
    display: inline-flex;
    margin-right: 10%;
}

.heiDashBoardDiv {
    width: 100%;
    text-align: left;
}

.heiDashBoardForm {
    margin-left: 100%;
}
.heiDashboardDiv {
    font: italic bold 12px/30px Georgia, serif;
}

.search {
    float: left;
}

.steps {
    
    grid-template-columns: auto auto auto;
}

/* ------HEI Register page Styling-------*/

.registerDiv {
    margin-top: 10%;
}

.registerTable {
    margin-left: auto;
    margin-right: auto;
    width: 200%;
    text-align: left;
}

.registerInputField {
    font-size:xx-large;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-top: 10%;
  margin-bottom: 10%;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid black;
}
.registerSubmitButton{
    width: 185px;
    height: 90px;
    border: none;
    margin: 20px 10px 20px 10px;
    outline: none;
    background: rgb(1, 251, 9);
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    width:max-content;
 }
 .termsDiv{
    
    align-items: left;
    text-align: left;
 }
 .registerDiv{
    display: inline-flex;
    width: 100%;
    margin: 0%;
 }
 .check{
    height:30px;
    width: 30px;
 }
 .radio{
    height:30px;
    width: 30px;
 }
 .mainDiv{
    display: inline-flex;
    font-size: xx-large;
 }
 .registerTable{
    margin: none;
 }

 .registerDiv{
    width: 100%;
    margin: 0%;
}

.registerInputField {
    width: 100%;
}
.btn1{
    height: 50px;
    border: none;
    margin: 20px 10px 20px 10px;
    outline: none;
    background:rgb(55, 118, 247);
    color: white;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    width:max-content;
}
.inputBox{
    width: 400%;
}
.heiProfileTable{
   margin-right: 40%;  
}
.heiSideBar{
    margin-left: 10%;
    margin-right: 70%;
}
.applyDiv{
    display: inline-flex;
}
