.heiProfileDiv,
.heiExploreDiv {
    width: 100%;
    text-align: left;
}

.heiProfileForm {
    margin-left: 50%;
    margin-right: 10%;
}

.sideBySide {
    display: inline-flex;
    margin-right: 10%;
}

.heiDashBoardDiv {
    width: 100%;
    text-align: left;
}

.heiDashBoardForm {
    margin-left: 100%;
}

.heiDashboardDiv {
    font: italic bold 12px/30px Georgia, serif;
}

.search {
    float: left;
}

.steps {

    grid-template-columns: auto auto auto;
}

/* ------HEI Register page Styling-------*/

.registerMainDiv {
    margin-top: 10%;
}

.registerDiv {
    padding-top: 10%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.registerTable {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.registerInputField {
    font-size: xx-large;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: 10%;
    margin-bottom: 10%;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid black;
}

.registerSubmitButton {
    width: 185px;
    height: 90px;
    border: none;
    margin: 20px 10px 20px 10px;
    outline: none;
    background: rgb(0, 128, 77);
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    width: max-content;
}

.termsDiv {

    align-items: left;
    text-align: left;
}

.registerDiv {
    display: inline-flex;
    width: 100%;
    margin: 0%;
}

.check {
    height: 30px;
    width: 30px;
}

.radio {
    height: 30px;
    width: 30px;
}

.mainDiv {
    display: inline-flex;
    font-size: xx-large;
}

.registerTable {
    margin: none;
}

.registerDiv {
    width: 100%;
    margin: 0%;
}

.registerInputField {
    width: 100%;
}

.btn {
    height: 50px;
    border: none;
    margin: 20px 10px 20px 10px;
    outline: none;
    background: rgb(55, 118, 118);
    color: black;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    width: max-content;
}

.inputBox {
    width: 400%;
}

.heiProfileTable {
    margin-left: 0%;
}