body {
   margin: 0;
}

main {
   margin: 16px;
}

.navbar {
   display: flex;
   align-items: center;
   height: 80px;
   background: #24496a;
   color: white;
   font-weight: 300;
   top: 0%;
   z-index: 12;
   position: fixed;
   padding-top: 0%;
   width: 100%;
}

.nav {
   position: fixed;
   display: flex;
   align-items: center;
   height: 80px;
   background: #687864;
   color: white;
   font-weight: 300;
   top: 0%;
   z-index: 12;
   padding-top: 0%;
   width: 100%;
}

.navbar__item:hover {
   color: peru;
}

.navbar__item {
   padding: 0px 18px 0px 18px;
   vertical-align: middle;
   color: white;
   font-size: 20px;
   font-weight: 300;
   position: static;
}

.navbar__title {
   margin-right: auto;
   padding-left: 10px;
}

.H_link {
   padding: 0px 16px 0px 16px;
   text-decoration: none;
   color: white;
   font-weight: 700;
   font-size: 25px;
}

.H_link:hover {

   color: peru;

}

.I_link:hover {
   color: peru;
   font-weight: 350;
}

.I_link:focus {
   color: silver;
}

.I_link {
   text-decoration: none;
   color: white;
   font-size: 20px;
   font-weight: 350;
   vertical-align: middle;
}

.logo {
   width: 65px;
   height: 65px;
   margin-left: 2rem;
   margin-top: auto;
   margin-bottom: auto;
   top: 0%;

}

#lastitem {
   margin-right: 3rem;
}




.navSmall {
   position: fixed;
   align-items: center;
   height: 80px;
   background: #687864;
   color: white;
   font-weight: 300;
   top: 0%;
   z-index: 12;
   padding-top: 0%;
   width: 100%;
}

.navbarSmall {
   display: flex;
   align-items: center;
   height: 80px;
   background: #24496a;
   color: white;
   font-weight: 300;
   top: 0%;
   z-index: 12;
   position: fixed;
   padding-top: 0%;
   width: 100%;
}

.navbar__title_small {
   margin-right: auto;
   vertical-align: middle;
   padding: 0px 18px 0px 18px;
   padding-left: 10px;
}

.logoSmall {
   width: 65px;
   height: 65px;
   margin-left: 2rem;
   margin-top: auto;
   margin-bottom: auto;
   top: 0%;
}

.H_link_small {
   padding: 0px 16px 0px 16px;
   text-decoration: none;
   vertical-align: middle;
   color: white;
   font-weight: 700;
   font-size: 25px;
}

.H_link_small:hover {
   padding: 0px 16px 0px 16px;
   text-decoration: none;
   color: peru;
   font-weight: 700;
   font-size: 25px;
}